{% extends "main.html" %}
{% load static %}
{% block meta %}
    <style>
        .main{
            display: flex;
            width: 80vw;
        }
        .first-div{
            width: 25vw;
            height: 30vw;
            text-align: center;
            border: 0.15VW solid rgba(114, 14, 114,0.8);
            background-color: rgba(114, 14, 114,0.2);
        }
        .second-div{
            border: 0.15VW solid rgba(114, 14, 114,0.8);
            background-color: rgba(114, 14, 114,0.2);
            width: 55vw;
        }
        body{
            color: rgb(77, 77, 77);
        }
        legend{
            color: rgb(238, 238, 238);
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="main">
    <div class="first-div">
        <form method='POST' action="">
            <legend> Create Post</legend>
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" class="submit">
        </form>
    </div>
    <div class="second-div">
        <legend> Delete Post</legend>
    </div>
</div>
{% endblock %}